{% extends 'core/base.html' %}

{% block titulo %}
  <h3>Lista De Clientes</h3>

  {% if clientes %}
    <ul>
      {% for cliente in clientes %}
        <li>{{cliente.nombre | upper }} {{cliente.apellido | upper}}</li> 
        <div>
            <form action="{% url 'eliminar' cliente.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
            <button>
                <a href="{% url 'editar' cliente.id %}">Editar</a>
            </button>
        </div>       
      {% endfor %}
    </ul>
  {% else %}
    <h1>No existen Clientes</h1>
  {% endif %}
{% endblock titulo %}